Part A) Here is a table of 1-5 star ratings for five movies (M, N, P. Q. R) by three raters (A, B, C).
Normalize the ratings by subtracting the average for each row and then subtracting the average for each column in the resulting table.

In [145]:
# Pritam shrestha
# DSC550 - Data Mining
# Date: 07/22/2020
# Problem:1(A)

In [144]:
import pandas as pd
# lets create dictionary
dict1={'Rater':['A','B','C'],
       'M':[1,2,5],
       'N':[2,3,5],
       'P':[3,2,5],
       'Q':[5,3,2]}
# creating dataframe
ratings =pd.DataFrame(dict1)
ratings

  Rater  M  N  P  Q
0     A  1  2  3  5
1     B  2  3  2  3
2     C  5  5  5  2

In [106]:
# creating another dataframe altering rows to column
data_ratings=ratings.T
data_ratings.drop('Rater',inplace=True)
data_ratings

   0  1  2
M  1  2  5
N  2  3  5
P  3  2  5
Q  5  3  2

In [114]:
# defining function to create average
def Avg(col_name):
    avg=[]
    for i in col_name:
        avg.append(i)
        result=sum(avg)/len(col_name)
        
    return result
# calculating average value of each columns
a=Avg(data_ratings[0])
b=Avg(data_ratings[1])
c=Avg(data_ratings[2])

# now lets substract the average value.
def final_value(col_name,x):
    value_after_sub=[]
    for i in col_name:
        result=(i-x)
        value_after_sub.append(result)
    return value_after_sub
a_f=final_value(data_ratings[0],a)
b_f=final_value(data_ratings[1],b)
c_f=final_value(data_ratings[2],c)
print(a_f)
print(b_f)
print(c_f)

[-1.75, -0.75, 0.25, 2.25]
[-0.5, 0.5, -0.5, 0.5]
[0.75, 0.75, 0.75, -2.25]

In [134]:
dict2={'A':[-1.75, -0.75, 0.25, 2.25],
       'B':[-0.5, 0.5, -0.5, 0.5],
       'C':[0.75, 0.75, 0.75, -2.25]}
# changing into dataframe
f_data=pd.DataFrame(dict2)
f_data
# changing into original form
f_orginal=f_data.T
f_orginal

      0     1     2     3
A -1.75 -0.75  0.25  2.25
B -0.50  0.50 -0.50  0.50
C  0.75  0.75  0.75 -2.25

In [135]:
# defining function to create average
def Avg(col_name):
    avg=[]
    for i in col_name:
        avg.append(i)
        result=sum(avg)/len(col_name)
        
    return result

a=Avg(f_orginal[0])
b=Avg(f_orginal[1])
c=Avg(f_orginal[2])
d=Avg(f_orginal[3])

In [138]:
def final_value(col_name,x):
    value_after_sub=[]
    for i in col_name:
        result=(i-x)
        value_after_sub.append(result)
    return value_after_sub
# lets finad the final value

print(final_value(f_orginal[0],a))
print(final_value(f_orginal[1],b))
print(final_value(f_orginal[2],c))
print(final_value(f_orginal[3],d))

[-1.25, 0.0, 1.25]
[-0.9166666666666666, 0.33333333333333337, 0.5833333333333334]
[0.08333333333333334, -0.6666666666666666, 0.5833333333333334]
[2.0833333333333335, 0.33333333333333337, -2.4166666666666665]

In [139]:
# creating dictionary
dict3={'Rater':['A','B','C'],
       'M':[-1.25, 0.0, 1.25],
       'N':[-0.9166666666666666, 0.33333333333333337, 0.5833333333333334],
       'P':[0.08333333333333334, -0.6666666666666666, 0.5833333333333334],
       'Q':[2.0833333333333335, 0.33333333333333337, -2.4166666666666665]}

In [142]:
# changing into dataframe
data_after_sub_avg_on_column=pd.DataFrame(dict3)
#printing
data_after_sub_avg_on_column

  Rater     M         N         P         Q
0     A -1.25 -0.916667  0.083333  2.083333
1     B  0.00  0.333333 -0.666667  0.333333
2     C  1.25  0.583333  0.583333 -2.416667

In [143]:
# Thanks!!!